kisi other CSS file ko apni php ya html file me add karna ho tab :
					<link rel="stylesheet"  href="filename.extension">

kisi other JAVASCRIPT file ko apni php ya html file me add karna ho tab :
<script src="jsfilename.js">

	password validation :

	<script>
     function validate(){

            var a = document.getElementById("password").value;
            var b = document.getElementById("confirm_password").value;
            if (a!=b) {
               alert("Passwords do no match ");
              
            }else{
                window.location="homepage.php";
                //alert("Passwords match");
                //hearder("location:daseboard.php")
               return false;
            }
        }
</script>
